@font-face {
    font-family: "OpenSans";
    src: url("OpenSansRegular/OpenSansRegular.eot");
    src: url("OpenSansRegular/OpenSansRegular.eot#iefix")format("embedded-opentype"),
    url("OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "OpenSans";
    src: url("OpenSansBold/OpenSansBold.eot");
    src: url("OpenSansBold/OpenSansBold.eot#iefix")format("embedded-opentype"),
    url("OpenSansBold/OpenSansBold.woff") format("woff"),
    url("OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}